.add-form {
  display: flex;
  gap: 0.5em;
  font-size: var(--_size);
  justify-content: center;
  margin-bottom: 20px;
  .add-form__input {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
  }
}
