@import "./components/all.scss";
body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Inter", system-ui;
}

.container {
  margin: 4vmax max(calc((100vw - 70rem) / 2), 1.5rem) 6em;
  display: grid;
  gap: clamp(2rem, 3.5vmax, 8rem);
  text-align: center;
}
